.histogram-header{
	@include label5();
}


.histograms{
	width:100%;
	// margin-left:$map-width + $map-margin;
    // height:400px;
    // overflow:hidden;
    // border:1px solid black;
}
.chart {
	width:100%;
	margin-top:15px;

	&--scatterline{
		height: 60px;
	}

	&--histogram{
		height: 180px;
	}
}


.bar-label{
	@include agate();
}
