.trb_mainContent .map{
	width: 400px;
	height: 600px;
	margin:0 auto 15px auto;

	&__header{
		@include label7();
		margin:0;
		text-align:center;
	}
	&__sub-header{
		@include sans-serif();
		margin:0 0 15px 0;
		text-align:center;
	}

	&__legend{
		@include trib-legend();
		width:150px;
		margin: 0 auto;
	}

	&__legend-box{
		@include trib-legend__box(0);
	}
}

.map-table{
	@include trib-table(compressed);
	max-width: 400px;
	margin:15px auto;

	.map-table__illinois{
		background: rgba($trib_blue4, .35);
		
		td{font-weight:bold;}
	}
}