@import 'base-variables';
$map-width:280px;
$map-margin: 50px;

$tablet-max-width: 849px;
$mobile-max-width: 449px;

@import 'base-mixins';

@import 'map';
@import 'histograms';

.trb_mainContent p{
	width: auto;
}

.graphic-wrapper{
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 700px;
    margin:0 auto;
    // border-left: 1px dashed #aaa;
    // border-right: 1px dashed #aaa;
}

.text-wrapper{
	max-width:500px;
	margin:0 auto 15px auto;
}

.trb_mainContent{
	.chart-label{
		@include label7();
		// text-align:center;
		margin:0;
	}

	.chart-sublabel{
		@include sans-serif();
		margin:0;
		// text-align:center;
	}
	 .credits p{
		@include agate();
		margin-top:15px
	}

}


@media all and (max-width:$tablet-max-width){

}

@media all and (max-width:$mobile-max-width){
	.histograms{
		width:280px;
		margin:0 auto;
		display:block;
		height:900px;
	}
	.chart--histogram{width: auto;}
}

