{#
 # Template for an HTML story published to P2P.
 #
 # If you want to publish multiple HTML stories, copy, or inherit from
 # this template.
 #
 #}
{% block content %}
{% for category in 
["rating_deck_condition","rating_superstructure_condition","rating_substructure_condition","rating_channels_and_protection", "rating_culverts", "rating_deck_geometry", "rating_structural_evaluation", "rating_bridge_railings", "rating_transitions", "rating_approach_guardrail", "rating_approach_guardrail_ends", "rating_underclearances", "rating_waterway_adequacy", "rating_approach_roadway_alignment"]%}
	<div data-chart='{{ category }}' class='chart chart--histogram'></div>
{% endfor %}

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {
  window.ROOT_URL = "{{ ROOT_URL }}"
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
